body {
	height: 100%;
	padding-top: 4em;
	padding-bottom: 7.4em;
}

html {
	height: 100%;
}

#ngView {
	height: 100%;
}

.meta {
	display: none;
}

.editor {
	height: 100%;
}

#editor {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#editor-container {
	position: relative;
	height: 100%;
}

.scrollable-menu {
	height: auto;
	max-height: 400px;
	overflow-x: hidden;
}

#console {
	width: 50em;
	z-index: 10000;
	position: fixed;
	right: -49.99em;
	top: 7em;
	bottom: 3.5em;
	border-color: #e7e7e7;
	background-color: #000;
	color: #AAA;
	font-family: monospace;
	padding: 10px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px;
	border-radius: 5px 0px 0px 5px;
	overflow: auto;
	cursor: default;
}

.pagination>li>a.resolved {
	color: white;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.pagination>li.active>a.resolved {
	color: white;
	background-color: #47a447;
	border-color: #398439;
}

.panel-admin .panel-heading {
	background-color: #5cb85c;
	color: white;
}