
<div class='container'>
	<div class='btn-toolbar' role='toolbar'>
		<div class='btn-group'>
			<button type="button" id="prevKoan"
				class="btn btn-primary navbar-btn" title="Previous Koan">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			<button type="button" id="nextKoan"
				class="btn btn-primary navbar-btn" title="Next Koan">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>
		<button id="compile" type="button" class="btn btn-success navbar-btn"
			title="Execute Koan">
			<span class="glyphicon glyphicon-expand"></span>
		</button>
	</div>
</div>

<div id="console">
	Welcome to Scala Koans Interpreter!<br>
</div>

<div id="editor-container">
	<pre id="editor"></pre>
</div>