<!-- TODO move out partially from here to the main view -->
<nav class="navbar navbar-inverse navbar-fixed-top background-main"
	role="navigation" ng-controller="NavbarController">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Scala Koans Online</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<ul class="nav navbar-nav">
			<li class="dropdown"><a href class="dropdown-toggle"
				data-toggle="dropdown">{{suite.name}}<b class="caret"></b>
			</a>
				<ul id="suites" class="dropdown-menu scrollable-menu" role="menu">
					<li ng-repeat='suite in suites'
						ng-class='{disabled:suite.selected}'><a href
						ng-click="selectSuite(suite)">{{suite.name}}</a></li>
				</ul></li>
		</ul>

		<p class="navbar-right navbar-text">&nbsp;</p>

		<div class="col-sm-3 col-md-3 pull-right">
			<form ng-submit="search()" class="navbar-form navbar-right"
				role="search">
				<div class="input-group">
					<input type="text" focus-me="focusSearch" class="form-control"
						placeholder="Search Suites" ng-model="searchedSuite"
						typeahead="suite as suite.name for suite in suites | filter:$viewValue | limitTo:8">
					<div class="input-group-btn">
						<button class="btn btn-success" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		<button id="compile" type="button"
			class="btn btn-success navbar-btn pull-right"
			tooltip-placement="bottom" tooltip="Execute Koan (Ctrl+Enter)"
			ng-click="compile()">
			<span class="glyphicon glyphicon-expand"></span>
		</button>

		<p class="navbar-text pull-right">
			<span style="color: white">{{completedKoans}}</span> koans
			completed&nbsp;
		</p>
		<p class="navbar-text pull-right">
			<span style="color: white">{{completedSuites}}</span> suites
			completed&nbsp;
		</p>
	</div>
</nav>

<div class="editor" ng-controller="EditorController">
	<shortcut></shortcut>
	<div class="row" style="padding: 0px 0px 0px 20px">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<ul class="pagination">
				<li ng-class="{disabled: koan.isFirst && suite.isFirst}"><a
					href ng-click="prev()">&laquo;</a></li>
				<li ng-repeat="koanId in suite.koans" ng-click="selectKoan(koanId)"
					ng-class="{active:(koanId === koan.id)}"><a href
					ng-class="{resolved: suite.resolvedKoans.indexOf(koanId) >= 0}">{{koanId}}</a></li>
				<li ng-class="{disabled: koan.isLast && suite.isLast}"><a href
					ng-click="next()">&raquo;</a></li>
			</ul>
		</div>
	</div>

	<div id="editor-container">
		<pre id="editor"></pre>
	</div>
</div>


<div class="console" ng-controller="ConsoleController">
	<span class="glyphicon glyphicon-pushpin" ng-click='togglePin()'
		tooltip="Pin Console"></span> {{isPinned ? "Pinned" : "Not Pinned"}}
	<div ng-bind-html="consoleText"></div>
</div>
