<!-- TODO move out partially from here later to the main view -->
<nav class="navbar navbar-inverse navbar-fixed-top background-main"
	role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Scala Koans Online</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<ul class="nav navbar-nav">
			<li class="dropdown"><a href class="dropdown-toggle"
				data-toggle="dropdown">{{suite.name}}<b class="caret"></b>
			</a>
				<ul id="suites" class="dropdown-menu scrollable-menu" role="menu">
					<li ng-repeat='suite in suites'
						ng-class='{disabled:suite.selected}'><a href
						ng-click="selectSuite(suite)">{{suite.name}}</a></li>
				</ul></li>
		</ul>

		<p class="navbar-right navbar-text">Signed in as SK&nbsp;&nbsp;</p>


		<div class="col-sm-3 col-md-3 pull-right">
			<form ng-submit="search()" class="navbar-form navbar-right"
				role="search">
				<div class="input-group">
					<input type="text" focus-me="focusSearch" class="form-control"
						placeholder="Search Suites (Ctrl+\)" ng-model="searchedSuite"
						typeahead="suite as suite.name for suite in suites | filter:$viewValue | limitTo:8">
					<div class="input-group-btn">
						<button class="btn btn-success" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		<button id="compile" type="button"
			class="btn btn-success navbar-btn pull-right"
			tooltip-placement="bottom" tooltip="Execute Koan (Ctrl+Enter)"
			ng-click="koan.compile()">
			<span class="glyphicon glyphicon-expand"></span>
		</button>
	</div>
</nav>

<shortcut></shortcut>

<div class='container'>
	<ul class="pagination">
		<li ng-class="{disabled:koan.isFirst}"><a href
			ng-click="koan.prev()">&laquo;</a></li>
		<li ng-repeat="koanId in suite.koans" ng-click="selectKoan(koanId)"
			ng-class="{active:(koanId === koan.id)}"><a href>{{koanId}}</a></li>
		<li ng-class="{disabled:koan.isLast}"><a href
			ng-click="koan.next()">&raquo;</a></li>
	</ul>
</div>

<div id="console" ng-bind-html="consoleText"></div>

<div id="editor-container">
	<pre id="editor"></pre>
</div>