<!-- TODO move out from here later to the main view -->
<nav class="navbar navbar-inverse navbar-fixed-top background-main"
	role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Scala Koans Online</a>
	</div>
</nav>

<div class="container">
	<div class="jumbotron">
		<h1>Learn Scala with the Koans</h1>

		<p class="lead">Koans are small lessons on the path to
			enlightenment. The aim of the Scala Koans project is to provide an
			easy learning environment in Scala. Your insight will be derived by
			encountering failing tests and fixing them so that they pass.</p>

		<p>
			<a class="btn btn-default btn-lg background-main" href="#/editor"
				role="button">Start Koans »</a>
		</p>
	</div>


</div>