@(suites: List[KoanSuite], koans:List[Koan])

@main("Welcome to Koans Online") {
<!-- some header is here -->
} {
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-warning" style="margin: 20px 20px 0px 20px">
            <div class="panel-heading">
                <h3 class="panel-title">Koans Statistics</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h2>@suites.size</h2>
                        <h5><p class="text-muted">suites</p></h5>
                        <a class="dropdown-toggle btn btn-default" data-toggle="dropdown">Suite List</a>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                            @for(suite <- suites) {
                            <li>&nbsp;@suite.name</li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h2>@koans.size</h2>
                        <h5><p class="text-muted">koans</p></h5>
                        <a class="dropdown-toggle btn btn-default" data-toggle="dropdown">Koans List</a>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                            @for(koan <- koans) {
                            <li>&nbsp;@koan.description</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="background: #fff">
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-default" role="button" onclick="onUploadAndParseClick();">Upload and parse Koans</a>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/images/loading.gif" id="loading-indicator" style="display:none" />
                        <p id="parse-result-id" class="text-info"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
<script type="text/javascript">
    function onUploadAndParseClick() {
     $('#loading-indicator').show();
     $.ajax({
        url: "/koans/upload",
        context: document.body
     }).done(function(result) {
        $('#loading-indicator').hide();
        $("#parse-result-id").html(result + " redirecting...");
        setTimeout(function () {
            window.location.href = "admin";
        }, 1000);
     });
    }

</script>

} {
<!-- some footer here -->
}
