@* main Template File *@
@(title : String)(header:Html)(body:Html)(footer:Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))'></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top background-main" role="navigation">
		<div class="navbar-header">
    		<a class="navbar-brand" style="color: white;" href="/">Scala Koans Online</a>
  		</div>
  		@header
  	</nav>
	@body
	<div class="navbar navbar-default navbar-fixed-bottom">
    	<p class="text-muted pull-left navbar-text">&copy; jdin&yukan 2014</p>
        @footer
    </div>
</body>

